extends common/layout.pug

block content
  h1= title
  p Temperaturverlauf im Gewächshaus...

  iframe(width='1200',height='450',  frameborder='0', src='http://www.rainers-wetter.de:2370/greenhouse/temp.html')
