extends layout.pug

block content
  h1= title
  h3 Hallo Welt :)

  div
    canvas#myChart


  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  
  script.
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'July',
      'August'
    ];
    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 30, 45,32],
      },{
        label: 'My Second dataset',
        backgroundColor: 'rgb(25, 12, 13)',
        borderColor: 'rgb(25, 12, 13)',
        data: [10, 5, 15, 25, 40, 13, 4,20],
      }]
    };


    const config = {
      type: 'line',
      data,
      options: {}
    };


    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
