extends common/layout.pug


block content
  h1= title
  h3= subTitle
  p Wurmkompost...Viele Nährstoffe für die Pflanzen
  p ...eine Lose Sammlung was Würmer mögen und was nicht...
  p Das mögen sie:
  ul 
    li Pferdeäpfel (auch mit Stroh)
    li Kartoffeln
    li Äpfel
    li nicht zu tiefe Kisten (der Druck der Erde wird enorm, ich "stapel" meinen Humus auf max 20-25 cm)
    li Zeitungen/Wellpappe (keine Farbe oder Glanzpapier) & Eierkartons -> beides sollte die entsprechende Feuchtigkeit haben
    li Temperaturen zwischen 20-25°C (unter 10°C und über 30°C werden sie träge)
  br
  p Das mögen sie nicht so gerne:
  ul 
    li Zwiebeln
    li scharfes Futter
    li zu viel Feuchtigkeit
    li Sonne (direkte)
    li ständiges "umrühren"
    li Fleischabfälle
  br
  p Wissenswertes über die kleinen Helfer:
  ul
    li Alle 6 Monate vermehren sie sich
    li Lebensdauer von ca 7 Jahren
    li Fressen ca die hälfte ihres Gewichts pro Tag
