nav.navbar.navbar-expand-lg.fixed-top.bg-light
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/") Dashboard
      li.nav-item
        a.nav-link(href="/wurmblog") Wurm-Blog
      li.nav-item
        a.nav-link(href="/users") User
